@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-div {
    scrollbar-width: none;
}

.scrollable-div.scrollable-div::-webskit-sc {
    display: none;
}

body {
    overflow: hidden;
}